@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto px-3 sm:max-w-[540px] sm:px-0 md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xxl:max-w-[1296px] xxxl:max-w-[75%];
  }
  .display-1 {
    @apply text-4xl font-semibold leading-tight md:text-6xl lg:text-[70px] xl:text-[80px] md:leading-tight lg:leading-tight xl:leading-tight;
  }
  .display-3 {
    @apply text-3xl font-semibold leading-tight md:text-5xl lg:text-[56px] xl:text-[64px] md:leading-tight lg:leading-tight xl:leading-tight;
  }
  .display-4 {
    @apply text-3xl font-semibold leading-tight md:text-4xl lg:text-[48px] xl:text-[56px] md:leading-tight lg:leading-tight xl:leading-tight;
  }
  .btn {
    @apply inline-flex items-center gap-2 rounded-[32px] border px-3 py-1.5 text-sm font-medium text-n0 duration-300 sm:px-4 sm:py-2 md:text-base lg:px-6 xxl:px-8 xxl:py-2.5;
  }
  .btn-primary {
    @apply btn bg-primary border-primary text-n0 hover:bg-transparent hover:text-primary hover:border-primary;
  }
  .btn-secondary {
    @apply btn bg-secondary border-secondary text-n0 hover:bg-transparent hover:text-secondary hover:border-secondary;
  }
  .btn-warning {
    @apply btn bg-warning border-warning text-n0 hover:bg-transparent hover:text-warning hover:border-warning;
  }
  .btn-error {
    @apply btn bg-error border-error text-n0 hover:bg-transparent hover:text-error hover:border-error;
  }
  .btn-outline {
    @apply btn bg-transparent text-primary hover:bg-primary hover:text-n0 border-primary;
  }
  .btn-white {
    @apply btn-primary border-white bg-white text-primary hover:bg-white dark:border-bg3 dark:bg-bg3;
  }
  .box {
    @apply rounded-xl bg-n0 p-3 shadow-[0px_6px_40px_0px_rgba(0,0,0,0.02)] dark:bg-bg4 sm:p-4 xl:p-6 xxxl:px-8;
  }
  .arrow-top {
    @apply after:absolute after:top-[-12px] after:border-b-[12px] after:border-l-[12px] after:border-r-[12px] after:border-b-n0 after:border-l-transparent after:border-r-transparent dark:after:border-b-bg4 after:ltr:left-4 after:rtl:right-4;
  }
  .arrow-bottom {
    @apply after:absolute after:bottom-[-12px] after:border-l-[12px] after:border-r-[12px] after:border-t-[12px] after:border-l-transparent after:border-r-transparent after:border-t-primary after:ltr:right-4 after:rtl:left-4;
  }
  .bb-dashed {
    @apply border-b border-dashed border-primary/30;
  }
  .event-unset {
    pointer-events: unset;
  }
  .white-box {
    @apply p-3 md:p-4 xxl:p-6 rounded-xl border bg-n0 dark:bg-bg4 border-n30 dark:border-n500;
  }
  .asset-btn {
    @apply px-4 py-2 text-xs font-medium first:rounded-s-lg last:rounded-e-lg;
    &.active {
      @apply bg-primary text-n0;
    }
  }
  .theme-btn {
    @apply flex items-center gap-2 px-3 py-2 rounded-lg border border-n30 dark:border-n500;
    &.active {
      @apply bg-primary text-n0;
    }
  }
  .language-btn {
    @apply block cursor-pointer rounded-md px-4 py-2 duration-300 hover:text-primary;
    &.active {
      @apply bg-primary text-n0;
    }
  }
  .topbar-btn {
    @apply relative shrink-0 rounded-full border flex items-center justify-center border-n30 bg-primary/5 dark:border-n500 dark:bg-bg3 size-10 md:size-12;
  }
  .f-center {
    @apply flex justify-center items-center;
  }
  .bb-dashed-n30 {
    @apply border-b border-dashed border-n30 dark:border-n500 pb-4 mb-4 xl:pb-6 xl:mb-6;
  }

  // chips

  .chip {
    @apply inline-flex items-center gap-2 rounded-full border p-1 font-medium text-n0 duration-300;
    .icon {
      @apply flex size-5 items-center justify-center rounded-full bg-n0/40 p-1 text-sm;
      i {
        @apply text-lg;
      }
    }
    span {
      @apply ltr:pr-4 rtl:pl-4 text-sm;
    }
    &.primary {
      @apply border-primary bg-primary hover:bg-primary;
    }
    &.secondary {
      @apply border-secondary bg-secondary hover:bg-secondary;
    }
    &.error {
      @apply border-error bg-error hover:bg-error;
    }
    &.warning {
      @apply border-warning bg-warning hover:bg-warning;
    }
  }

  // tabs
  .tab-navigation {
    @apply flex border-b border-n30 gap-2 dark:border-n500;
  }
  .tab-link {
    @apply font-medium text-n700 dark:text-n20 inline-flex px-2 py-1.5 duration-300 border-b border-transparent;
    &.active {
      @apply text-primary border-primary;
    }
  }
}

@layer base {
  i {
    font-size: 1.4rem;
  }
  a,
  p,
  span,
  td {
    @apply text-sm md:text-base;
  }
  h1,
  .h1 {
    @apply text-3xl font-semibold leading-tight md:text-4xl md:leading-tight xl:text-[48px] xl:leading-tight;
  }
  h2,
  .h2 {
    @apply text-xl font-semibold leading-tight sm:text-2xl sm:leading-tight lg:text-3xl lg:leading-tight xxxl:text-[40px] xxxl:leading-tight;
  }
  h3,
  .h3 {
    @apply text-xl font-medium leading-tight sm:font-semibold sm:leading-tight lg:text-2xl lg:leading-tight xxxl:text-[32px] xxxl:leading-tight;
  }
  h4,
  .h4 {
    @apply text-lg font-medium md:text-xl md:font-semibold md:leading-tight xxxl:text-2xl xxxl:leading-tight;
  }
  h5,
  .h5 {
    @apply text-base font-medium md:text-xl md:font-semibold md:leading-tight;
  }
  h6,
  .h6 {
    @apply text-base font-medium shadow-none;
  }
  input:focus,
  textarea:focus {
    @apply outline-none;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  table thead tr th:first-of-type {
    @apply sm:rounded-tl-lg;
  }

  table thead tr th:last-of-type {
    @apply sm:rounded-tr-lg;
  }

  table tbody tr:last-of-type td:first-of-type {
    @apply sm:rounded-bl-lg;
  }

  table tbody tr:last-of-type td:last-of-type {
    @apply sm:rounded-br-lg;
  }
  td {
    vertical-align: middle !important;
  }
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }

  input:checked + div {
    @apply border-primary;
  }
  input:checked + div svg {
    @apply block;
  }
  body {
    font-family: "Inter", sans-serif;
    @apply bg-primary/5 dark:bg-bg3;
  }
  input.picker[type="date"] {
    position: relative;
  }

  input.picker[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
  }
}
